@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #000042;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1320px;
  margin: auto;
}

.info h2.heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
  color: rgb(0, 0, 66);
}

.padding_70 {
  padding: 0 70px;
}

.margin_70 {
  margin: 0 70px;
}
